.table{
  width: 80%;
  color: #212529;
  background-color: transparent;
  border-collapse: collapse;
}

.table tr td {
  border: 2px solid red;
  height: 50px;
}

.table-hover tr :hover {
  background-color: #cd848f;
}



